.dialog-form--container {
}

.dialog-input--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dialog-input-width-1 {
  width: 10rem;
  margin: 0 1rem;
}

.dialog-input-width-2 {
  width: 100;
}
