.dialog-form--container {
}

.dialog-input--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.dialog-input-width-1 {
  width: 10rem;
}

.dialog-input-width-2 {
}
