<div class="cover-image">
  <h1 class="cover-text cover-brand-text">Jangin Rasheed</h1>
  <a class="cover-text cover-text-text" href="#">To the gallery &#8594;</a>
  <div class="header-icon--container">
    <a target="_blank" href="http://www.instagram.com/janginrasheed">
      <img class="header-icon" src="assets/images/instagram.png" alt="instagram">
    </a>
    <a target="_blank" href="https://www.flickr.com/photos/jangin9rasheed">
      <img class="header-icon" src="assets/images/flickr.png" alt="flickr">
    </a>
    <a target="_blank" href="https://500px.com/p/jangin9rasheed">
      <img class="header-icon" src="assets/images/500px.png" alt="500px">
    </a>
  </div>
</div>
