<div class="navbar--container">
  <div class="navbar-brand-text" (click)="navigateTo('/gallery')">Jangin Rasheed</div>
  <div class="navbar-right">
    <div class="navbar-right navbar-link" onclick="window.open('http://www.instagram.com/janginrasheed','_blank')">
      <img class="navbar-icon" src="assets/images/icons/instagram.png" alt="instagram">Instagram
    </div>
    <div class="navbar-right navbar-link"
         onclick="window.open('http://www.facebook.com/jangin.photography','_blank')">
      <img class="navbar-icon" src="assets/images/icons/facebook.png" alt="facebook">facebook
    </div>
    <div class="navbar-right navbar-link" onclick="window.open('mailto:jangin9rasheed9@gmail.com','_blank')">
      <img class="navbar-icon" src="assets/images/icons/email.png" alt="500px">
      email
    </div>
  </div>
</div>
