.cover-image {
  background-image: url("/assets/images/website-cover.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.cover-brand-text {
  letter-spacing: 0.5rem !important;
  text-shadow: 2px 2px 8px #780000;
  margin: 7rem 0 3rem 0;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
}

.cover-text-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}
